---
import Layout from "../../layouts/Layout.astro";
import { fetchData } from "../../utils/fetchData";
import "../../styles/global.css";
import { BackPage } from "../../components/common/buttons/BackPage";

// Generar rutas dinámicas
export async function getStaticPaths() {
  // Fetch los datos desde Firebase
  const data = await fetchData("posts"); // Ajusta si `posts` es el path correcto
  if (!Array.isArray(data)) {
    throw new Error("La data de Firebase no es un array.");
  }

  // Mapear cada post a un objeto con `params`
  const paths = data.map((post) => ({
    params: { id: post.id },
  }));

  return paths;
}

// Obtener el parámetro dinámico `id`
const { id } = Astro.params;

// Fetch de todos los posts
const data = await fetchData("posts");
const post = data.find((item) => item.id === id);

if (!post) {
  throw new Error(`Post con ID ${id} no encontrado.`);
}
---

<!-- Renderizar el contenido del post -->
<Layout title={`llcomment || ${post.title}`}>
  <article class="flex mt-16 flex-col items-center">
    <h1 class="ssm:text-[1.2rem] sm:text-[2rem] font-bold">{post.title}</h1>
    <div class="space-x-2">
      <span class="font-semibold">{post.publishDate}</span>
      <span class="font-semibold">
        {post.nickname}
      </span>
    </div>
    <p class="mt-5 mb-10 prose ssm:prose-sm ssm:px-10 sm:prose-lg md:prose-xl">{post.content}</p>
    <BackPage />
  </article>

  <style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "League Spartan", sans-serif;
    }
  </style>
</Layout>
