---
import { fetchData } from "../../utils/fetchData";
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";
import { BackDiscover } from "../../components/common/buttons/BackDiscover";
import { generateSlug } from "../../utils/generateSlug";

// Generar todas las rutas posibles en tiempo de compilación
export async function getStaticPaths() {
  try {
    const posts = await fetchData("posts");
    console.log(`Generating paths for ${posts.length} posts`);
    
    return posts.map((post) => {
      const slug = generateSlug(post.title);
      console.log(`Generating path for: ${slug}`);
      return {
        params: { slug },
        props: { post },
      };
    });
  } catch (error) {
    console.error("Error generating paths:", error);
    return [];
  }
}

// Obtener el post de las props
const { post } = Astro.props;
const contentHTML = marked(post.content);
---

<Layout title={`llcomment || ${post.title}`}>
  <article class="flex mt-16 flex-col items-center">
    <h1 class="ssm:text-[1.8rem] text-center sm:text-[2rem] font-bold">
      {post.title}
    </h1>
    <div class="space-x-2">
      <span class="font-semibold">{post.publishDate}</span>
      <span class="font-semibold">
        {post.nickname}
      </span>
    </div>
    <div
      class="my-10 min-w-[60%] prose px-10 ssm:prose-sm md:prose-base"
      set:html={contentHTML}
    />
    <BackDiscover />
  </article>
  <style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "League Spartan", sans-serif;
    }
  </style>
</Layout>
